<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Médiathèque{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
          <img src="{% static 'images/logo_mediatheque.jpg' %}" alt="Logo Médiathèque">
        <nav>
            <ul>
                <li><a href="{% url 'liste_membres' %}"><i class="fas fa-users"></i> Membres</a></li>
                <li><a href="{% url 'liste_medias' %}"><i class="fas fa-book"></i> Médias</a></li>
                <li><a href="{% url 'consultation_medias' %}"><i class="fas fa-eye"></i> Consultation</a></li>
            </ul>
        </nav>
        <h1>Médiathèque - Gestion des emprunts</h1>
    </header>

    <main>
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Médiathèque - Tous droits réservés.</p>
    </footer>
</body>
</html>