{% extends "base.html" %}
{% block title %}Liste des jeux de plateau{% endblock %}
{% block content %}
    <h3>
        🎲Liste des jeux de plateau &nbsp;|&nbsp;
         <!-- Lien pour ajouter un nouveau jeu -->
            <a href="{% url 'ajouter_jeu_de_plateau' %}">➕Ajouter un jeu de plateau</a>
    </h3>
    <!-- Vérifie s'il y a des jeux à afficher -->
    {% if jeux %}
    <ul>
        {% for jeu in jeux %}
        <li>
           <span>🎮 Nom :</span> {{ jeu.titre }} - <span>👤 Créateur :</span> {{ jeu.createur }}

            {% if jeu.disponible %}
                <a href="{% url 'supprimer_media' media_type='jeu' media_id=jeu.id %}"
                   onclick="return confirm('Voulez-vous vraiment supprimer ce jeu ?');">
                    🗑 Supprimer
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
 {% else %}
        <p>Aucun jeu de plateau disponible.</p>
    {% endif %}
{% endblock %}