 {% extends "base.html" %}
{% block title %}Liste des membres{% endblock %}
{% block content %}

    <p>
        <h3>Liste des membres </h3>

    <!-- Lien pour ajouter un nouveau membre -->
    <p>
        <a href="{% url 'ajout_membre' %}"> ➕ Ajouter un membre</a>
    </p>
    <!-- Affichage de la liste des membres -->


    <ul>
        {% for membre in membres %}
            <li>
                {{ membre.nom }}
                <!-- Lien pour mettre à jour un membre -->
                <a href="{% url 'modifier_membre' membre.id %}">✏️ Mettre à jour</a>

                <!-- Lien pour supprimer un membre -->
                <a href="{% url 'supprimer_membre' membre.id %}" onclick="return confirm('Voulez-vous vraiment supprimer ce membre ?');">❌ Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}